<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header>
        <h1>Ceneo.pl Web Scraper</h1>
    </header>
    <section>
        {% block content %}
            <p>To jest plik bazowy</p>
        {% endblock %}
    </section>
    <footer>
        <p>Szymon Kujawski, Uniwersytet Ekonomiczny w Krakowie</p>
    </footer>
</body>
</html>