{% extends "base.html.jinja" %}
{% block content %}
    <h2>Ekstrakcja opinii</h2>
    <form action="{{url_for('extract')}}" method="POST" class="container">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="product_id" class="col-form-label">Kod prouktu</label>
        </div>
        <div class="col-auto">
            <input type="text" name="product_id" id="product_id" class="form-control"  aria-describedby="product_idHelpInline" placeholder="Podaj kod produktu" required>
        </div>
        <div class="col-auto">
            <span id="product_idHelpInline" class="form-text">
            Musi zawierac od 8-10 cyfr.
            </span>
        </div>
        <div class="col_auto">
            <button type="submit" class="btn btn-warning">Pobierz opinie</button>
        </div>
    </form>
    {% if error is defined %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% endblock %}
